*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#fff8f0;
}


.header{
    text-align:center;
    padding:20px;
    background:#d2691e;
    color:white;
}

.nav{
    display:flex;
    justify-content:center;
    gap:20px;
    background:#8b4513;
    padding:10px;
}

.nav a{
    color:white;
    text-decoration:none;
}

.inicio{
    height:60vh;
    background:url("img/panaderia.png") center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
}

.iniciotext{
    background:rgba(0,0,0,0.5);
    color:white;
    padding:20px;
}


.productos{
    padding:40px;
    text-align:center;
}

.grid-productos{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
}

.producto{
    background:white;
    padding:15px;
    border-radius:10px;
}

.producto img{
    width:100%;
    height:150px;
    object-fit:cover;
}


.especiales{
    background:#ffe4c4;
    padding:40px;
    text-align:center;
}

.especial span{
    font-size:20px;
    color:#d2691e;
}


.galeria{
    padding:40px;
    text-align:center;
}

.grid-galeria{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.grid-galeria img{
    width:100%;
    height:120px;
    object-fit:cover;
}

.nosotros{
    padding:40px;
    text-align:center;
}


footer{
    background:#8b4513;
    color:white;
    text-align:center;
    padding:20px;
}

button{
    background:#d2691e;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}
button:hover{
    background:#a0522d;
}